.myshop{
    display: flex;
    margin: 40px 0px;
}

.mainshop{
    flex: 4;
    
}

.mainshopsidebar{
    flex: 1;
    margin: 0px 0px 0px 20px;
}
	
.itemsinmainshop{
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
}

.home-items-holder{
    margin: 10px 20px;
    border: 1px solid lightgray;
}
.home-items-holder:hover{
    box-shadow: 6px 10px 37px -12px rgba(0,0,0,0.31);
-webkit-box-shadow: 6px 10px 37px -12px rgba(0,0,0,0.31);
-moz-box-shadow: 6px 10px 37px -12px rgba(0,0,0,0.31);
}
.home-items-holder a{
    text-decoration: none;
}
.home-items-holder img{
    width: 100%;
    height: 250px;
}

.home-items-holder:hover .quick-view{
   visibility: visible;
   
}
.home-items-holder .quick-view{
    visibility: hidden;
    display: flex;
    justify-content: space-around;
    position: relative;
    bottom: 150px;
    margin: auto;
    background-color: #F82E80;
    color: white;
    text-align: center;
    padding: 8px;
    width: fit-content;
}
.home-items-holder .view-icon{
    margin: 0px 3px;
}
.home-items-holder h1, .price{
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}
.add-to-cat{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px 20px;
   text-align: center;
   margin: 8px auto;
   border: 0px;
   background-color: #DC294C;
   color: white;
   font-size: 18px;
   font-weight: 600;
   text-transform: capitalize;
   cursor: pointer;
}
.add-to-cat .basket{
    margin: 0px 5px;
}

.shope-sidbar{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.shope-sidbar h1{
    font-size: 20px;
    font-weight: 300;
    margin: 0px 20px;
}
.category{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 0px;
}
.mycategory{
    margin: 5px 8px;
    padding: 8px;
    border: 1px solid lightgray;
    cursor: pointer;
}
.mycategory:hover{
    background-color: #F82E80;
}