
.details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px;
    flex-wrap: wrap;
    gap: 30px;
}
.details-img-path img{
    width: 100%;
    max-height: 500px;
}

.details-divid{
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    flex-wrap: wrap;
    flex-direction: row;
}
.details-info{
    margin: 0px 20px;
}
.details-info>h1{
    font-size: 12px;
}
.add-to-cats{
   background-color: #DC294C;
   color: white;
   font-size: 18px;
   font-weight: 600;
   text-transform: capitalize;
   cursor: pointer;
}
.add-to-cats .basket{
    margin: 0px 0px;
}