*{
  padding: 0;
  margin: 0;
}
.adminHome{
  display: flex;
}
.admin-side-bar{
  flex: 1;
}
.admin-main-content{
  flex: 4;
}
a{
  text-decoration: none;
  color: inherit;
}
/* @media only screen and (max-width: 720px) {
  body{
    overflow-x: hidden !important;
}
}

body{
  overflow-x: hidden !important;
} */